.signup-form{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 400px;
    margin: auto; 
    margin-bottom: 30px;
    margin-top: 35px; 
    box-shadow: 4px 4px 10px rgb(50, 139, 216);
    animation: slideIn 0.5s ease-in-out;

}

.signup-title{
    height: 80px;
    color: white;
    font-weight: 700;
    background-color: rgb(44, 132, 209);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 400px;
    display: flex;
    margin: 0px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    font-size: 37px;
}

.signup-fields{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.signup-fields input{
    width: 53vh;
    height: 40px;
    padding: 8px;
    padding-left: 20px;
    border-radius: 30px;
    border: none;
    background-color: rgb(240, 235, 221);
    font-size: 22px;
    margin: 0px;
}

.signup-fields input:focus {
    outline: none;
    border: 1px solid #66afe9;
    
}

.signup {
    width: 56vh;
    height: 50px;
    font-size: 22px;
    border-radius: 30px;
    background-color: blue;
    border: none;
    color: white;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
}

.signup-footer p {
    font-size: 18px;
    display: flex;
    gap: 8px;
    justify-content: center;
}


.signup-login {
    color: red;
    text-decoration: none;
}

.error-signup{
    color: red;
    display: flex;
    justify-content: center;
    margin: 0px;
    font-size: 18px;
}



@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


@media screen and (max-width:500px) {
    .signup-form{
        width: 260px;
    }

    .signup-title{
        height: 50px;
        width: 260px;
        font-size: 30px;
        
    }
    
    .signup-fields input{
        width: 210px;
        height: 20px;
        font-size: 14px;
    }

    .signup{
        width: 235px;
        height: 35px;
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .error-signup{
        font-size: 14px;
    }

    .signup-footer p{
        font-size: 14px;
    }
}