.register{
    height: 88vh;
    background-color: rgb(184, 217, 247);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.signup-fields{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 15px;
}
.signup{
    margin-top: 20px;
    font-size: 18px;
    width: 80px;
    height: 27px;
    cursor: pointer;
    border: none;
    background-color: rgb(118, 197, 138);
    border-radius: 5px;
}

.signup-fields input{
    height: 25px;
    font-size: 18px;
}


.heading{
    margin-top: 50px;
}