.navbar {
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    background-color: #5e5e5e; 
    position: sticky;
    top: 0;
    box-shadow: -2px 3px 4px  #444444;
    z-index: 2;
}

.navbar button {
    height: 35px;
    padding: 0 20px;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.chef-button {
    background-color: #e6c649; 
    color: #ffffff; 
}

.comment-button {
    background-color: #f35858; 
    color: #ffffff; 
}

.login-button {
    background-color: #72a0f5; 
    color: #ffffff; 
}

.items-button, .list-button {
    background-color: #ff8533; 
    color: #ffffff; 
}

.winner-button {
    background-color: #a0a0a0; 
    color: #000000; 
}

.navbar button:hover {
    background-color: #666666; 
}

/*
@media screen and (max-width:500px) {
    .navbar button{
        padding: 0 10px;
        font-size: 15px;
        height: 27px;
    }

    .navbar{
        width: 500px;
    }

    .comment-button{
        width: 90px;
    }

    .chef-button{
        font-size: 12px;
    }

    
   
}

*/
