.chef{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: slideLeft 0.56s ease-in;

}


.chef-data{
    background-image: url('../assets/chef.jpg');
    background-size: cover;
    background-position: 10%;
    border-radius: 10px;
    padding: 50px 20px;
    margin: 25px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    height: 240px;
    background-position: center;
}

.red-color{
    color: red;
    margin-bottom: 40px;
}

.chef-title{
    font-size: 22px;
    margin: 0px;
    height: 0vh;
    margin: 15px 5px;
    color: rgb(12, 14, 12);
    text-align: center;
    margin-bottom: 35px;
}

.chef-data input {
    height: 27px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid rgb(119, 150, 143);
    
    transition: border-color 0.3s ease;
    margin: 10px;
    background-color: rgb(255, 255, 255,0.3);
}

.err-div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0px;
    align-items: center;

}

.err-msg{
    color: red;
    margin: 0px;
    padding: 0px 5px;
    margin-bottom: 5px;
    background-color: rgb(255, 255, 255, 0.78);
    margin-left: 10px;
    font-size: 18px;
}

.chef-data textarea {
    height: 100px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgb(119, 150, 143);
    margin-left: 10px;
    margin-right: 10px;
    transition: border-color 0.3s ease;
    background-color: rgb(255, 255, 255,0.3);

}

.chef-data input:focus, .chef-data textarea:focus {
    outline: none;
    border-color: #4caf50;
}

.submit {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
    height: 40px;
    transition: background-color 0.3s ease;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
    font-weight: 700;
}

.submit:hover {
    background-color: rgba(240, 235, 235, 0.3);
}



.chef-items{
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column; 
        
}
 
.chef-items-list{
    list-style-type: none;
    padding: 0px; 
    margin: 0px;
    display: flex;
    margin-bottom: 40px;
    flex-wrap: wrap; 
    justify-content: center;
    
}

.bf-chef-title{
    margin:0px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.item-in-chef{
    text-align: center;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
    background-color: white;
}

.item-in-chef:hover {
    transform: translateY(-5px);
}

.chef-itemName{
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 4px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.chef-img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 180px;
    height: 110px;
    margin: 0px;
    background-color: #fa8484;
}

.chef-popup-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.chef-popup{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    padding-top: 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    text-align: center;
    width: 40%;
    height: 50%;
    animation: slideLeft 0.3s ease-in;

}


.chef-popup-img{
    width: 100%;
    height: 80%;
}

.chef-popup button{
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



@keyframes slideLeft {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}




@media screen and (max-width: 768px) {

    .chef-data{
        padding: 40px 10px;
        padding-bottom: 0px;
        border-radius: 7px;
        margin: 0px 10px;
        gap: 5px;
        width: 65%;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
        background-position: center;
    }
    
    
    .chef-title{
        font-size: 16px;
        margin: 10px 5px;
        margin-bottom: 35px;
    }
    
    .chef-data input {
        height: 20px;
        font-size: 13px;
        margin: 5px;
        padding-left: 5px;
    }
    
    .err-msg{
        margin: 0px;
        font-size: 14px;
        margin-left: 5px;
    }
    
    .chef-data textarea {
        
        padding-left: 5px;
        height: 40%;
        font-size: 13px;
        margin-left: 5px;
        margin-right: 5px;
    
    }
    .submit {
        font-size: 16px;
        height: 12%;
        margin-left: 5px;
        margin-right: 5px;
        background-color: rgba(255, 255, 255, 0.35);
        font-weight: 700;
    }
    
    .submit:hover {
        background-color: rgba(240, 235, 235, 0.2);
    }
    
    .bf-chef-title{
        margin:0px;
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 20px;
    }
    .chef-items-list{
        margin-bottom: 15px;
        
    }
    
    
    
    .item-in-chef{
        border-radius: 10px;
        margin: 10px;
        box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.2);
        transition: all 0.4s ease;
        background-color: white;
        width: 20%;
    }
    
    
    .chef-itemName{
        margin: 0px;
        margin-bottom: 7px;
        margin-top: 2px;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
    }
    
    .chef-img{
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        width: 100%;
        height: 67%;
    }

.chef-popup{
    padding: 10px;
    padding-bottom: 10px;
    padding-top: 0px;
    border-radius: 7px;
    gap: 10px;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    width: 55%;
    height: 40%;
}


.chef-popup-img{
    width: 100%;
    height: 80%;
}

.chef-popup button{
    padding: 6px 10px;
    font-size: 14px;
    border: none;
}

}







@media screen and (max-width: 500px) {

    
    .chef-data{
        padding: 20px 10px;
        padding-bottom: 0px;
        border-radius: 7px;
        margin: 0px 10px;
        gap: 5px;
        width: 65%;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
        background-position: center;
        height: 150px;
    }
    
    
    .chef-title{
        font-size: 14px;
        margin: 5px 5px;
        margin-bottom: 30px;
    }
    
    .chef-data input {
        height: 16px;
        font-size: 12px;
        margin: 5px;
        padding-left: 5px;
    }
    
    .err-msg{
        margin: 0px;
        font-size: 12px;
        margin-left: 5px;
    
    }

    .chef-title{
        font-size: 12px;
        margin-bottom: 35px;
    }
    
    .chef-data textarea {
        
        padding-left: 5px;
        height: 45%;
        font-size: 12px;
        margin-left: 5px;
        margin-right: 5px;
    
    }
    .submit {
        font-size: 14px;
        height: 15%;
        margin-left: 5px;
        margin-right: 5px;
        background-color: rgba(255, 255, 255, 0.35);
        font-weight: 700;
        margin-top: 10px;
    }
    
    .submit:hover {
        background-color: rgba(240, 235, 235, 0.35);
    }

    .item-in-chef:hover {
        transform: none;
    }


    .bf-chef-title {
       font-size: 15px;
    }

    .chef-items-list {
        margin-bottom: 15px;
    }
 
    .chef-itemName {
        font-size: 12px;
        font-weight: 650;
        margin-bottom: 4px;
        margin-top: 0px;
     }

     .item-in-chef{
        width: 25%;
        margin: 8px 8px;         
        box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
     }

     .item-in-chef:hover {
        transform: none;
    }
 
     .chef-img{
         width: 100%;
         height: 70%;
     }

     .chef-popup{
        padding: 5px;
        padding-bottom: 5px;
        padding-top: 3px;
        border-radius: 5px;
        gap: 10px;
        box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
        width: 55%;
        height: 30%;
    }
    
    
    .chef-popup-img{
        width: 100%;
        height: 75%;
    }
    
    .chef-popup button{
        padding: 4px 8px;
        font-size: 12px;
        border: none;
    }
    
}




