.chef{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: slideLeft 0.56s ease-in;

}


.chef-data{
    background-image: url('../assets/chef.jpg');
    background-size: cover;
    background-position: 10%;
    border-radius: 10px;
    padding: 50px 20px;
    margin: 25px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 240px;
    background-position: center;
}

.red-color{
    color: red;
    margin-bottom: 40px;
}

.chef-title{
    font-size: 22px;
    margin: 0px;
    height: 0vh;
    margin: 15px 5px;
    color: rgb(12, 14, 12);
    text-align: center;
    margin-bottom: 35px;
}

.chef-data input {
    height: 27px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid rgb(119, 150, 143);
    
    transition: border-color 0.3s ease;
    margin: 10px;
    background-color: rgb(255, 255, 255,0.3);
}

.err-div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0px;

}

.err-msg{
    color: red;
    margin: 0px;
    margin-bottom: 5px;
    background-color: rgb(255, 255, 255, 0.78);
    margin-left: 10px;
}

.chef-data textarea {
    height: 100px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgb(119, 150, 143);
    margin-left: 10px;
    margin-right: 10px;
    transition: border-color 0.3s ease;
    background-color: rgb(255, 255, 255,0.3);

}

.chef-data input:focus, .chef-data textarea:focus {
    outline: none;
    border-color: #4caf50;
}

.submit {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
    height: 40px;
    transition: background-color 0.3s ease;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
}

.submit:hover {
    background-color: rgba(240, 235, 235, 0.3);
}



.chef-items{
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column; 
        
}
 
.chef-items-list{
    list-style-type: none;
    padding: 0px; 
    margin: 0px;
    display: flex;
    margin-bottom: 40px;
    flex-wrap: wrap; 
    justify-content: center;
    
}

.bf-chef-title{
    margin:0px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.item-in-chef{
    text-align: center;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;

}

.item-in-chef:hover {
    transform: translateY(-5px);
}

.chef-itemname{
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 4px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.chef-img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 180px;
    height: 110px;
    margin: 0px;
}

@keyframes slideLeft {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


@media screen and (max-width: 500px) {

    .chef-title {
        font-size: 12px;
        margin-bottom: 0px;
    }

    .chef-data{
        background-size: cover;
        border-radius: 10px;
        padding: 5px;
        margin: 25px 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 150px;
        width: 80%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .chef-data input {
        font-size: 11px;
        width: 60px;
        height: 17px;
        margin-right: 5px;
        margin-top: 12px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .err-msg{
        color: red;
        font-size: 11px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .red-color{
        margin-bottom: 100px;
    }
    
    .chef-div{
        margin-bottom: 10px;
    }

    .err-div{
        gap: 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 5px;
    }

    .chef-data textarea {
        font-size: 12px;
        width: auto;
        height: 50px;
        margin: 0px 5px;
    }

    .submit{
        height: 18px;
        font-size: 12px;
        margin: 0px 5px;
        margin-bottom: 5px;
    }

    .item-in-chef:hover {
        transform: none;
    }


    .bf-chef-title {
       font-size: 15px;
    }

    .chef-items-list {
        margin-bottom: 15px;
    }

    .chef-itemName {
        font-size: 12px;
        font-weight: 650;
        margin-bottom: 5px;
        margin-top: 0px;
    }

    .item-in-chef{
        margin: 10px 15px; 
        box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
    }

    .chef-img{
        width: 80px;
        height: 50px;
    }
    
    
}




