.container{
    display: flex;
    flex-direction: column;
}

.vote-title{
    background-color: rgb(235, 250, 207);
    display: flex;
    padding-top: 0px;
    flex-direction: column;
    align-items: center;
    width: 100vh;
    height: 9vh;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: sticky;
    top: 65px;
    margin-top: 0px;

    
}

.vote-title h2{
    margin-top: 80px;
}


.list-items{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    margin-right: 50px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.list-item{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0px;
    border-radius: 10px;
    width: 200px;
    margin-bottom: 20px;
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
}

.list-item:hover {
    transform: translateY(-5px); 
}

.list-img{
    width: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0px;
}

.votes p{
    margin: 0px;
    font-size: 20px;
    font-weight: 500;
    width: 190px;
    text-align: center;
}
.votes{
    height: 70px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 8px;
    text-align: center;
}

.vote-button{
    height: 35px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
    background-color: rgb(128, 127, 118);
}
