
.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;

}

.menu{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    background-color: #f0f8ff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 8px 15px 20px rgba(0, 0, 0, 0.1);
    
}

.menu-title{
    font-size: 22px;
    margin: 0px;
    display: flex;
    align-items: center;
    height: 0vh;
    margin-top: 10px;
}

img{
    cursor: pointer;
    width: 100px;
}

.menu input{
    width: 250px;
    height: 31px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid rgb(216, 216, 167);
}

.menu-button {
    background-color: rgb(144, 183, 218);
    padding: 3px;
    cursor: pointer;
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    transition: 0.4s;
    
}

.menu-button:hover{
   transform: scale(1.1);
}


.user-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    
}

.user-items hr{
    width: 600px;
    display: flex;
    height: 1.5px ;
    background-color: black;
    border: none;
    align-items: center;
    justify-content: center;
}
 
.user-items-list{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    margin-right: 50px;
    
}

.item-in-user{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0px;
    border-radius: 10px;
    width: 200px;
    margin-bottom: 20px;
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;

}

.item-in-user:hover {
    transform: translateY(-5px);
}

.user-itemName{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    width: 190px;
}

.user-itemName p{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.user-img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 200px;
    height: 110px;
    margin: 0px;
    background-color: #fa8484;
}



