.loginform{
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(184, 217, 247);
}

.login-signup-fields{
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

.login-signup-fields button {
    width: 100px;
    font-size: 18px;
}

.login-signup-fields input{
    height: 22px;
    font-size: 18px;
}

.login {
    margin-top: 20px;
    width: 60px;
    height: 27px;
    cursor: pointer;
    border: none;
    background-color: rgb(118, 197, 138);
    border-radius: 5px;
}


