.winner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .winner-data {
    text-align: center;
  }
  
  .get-winner-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .get-winner-button:disabled {
    background-color: #CCCCCC;
    
  }
  
  .get-winner-button:hover {
    background-color: #45a049;
  }
  
  .popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pop-content {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .pop-content p {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .pop-content button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pop-content button:hover {
    background-color: #0056b3;
  }


  @media screen and (max-width:500px) {

    
  .get-winner-button {
    padding: 2px 10px;
    font-size: 15px;
  }

  .pop-content {
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
  }
  
  .pop-content p {
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 0px;
  }
  
  .pop-content button {
    padding: 3px 6px;
    font-size: 13px;
  }

  }
  